@using ImproveWithWepApis.Models
@model List<OpenPharmacyModel>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <h1 class="mt-4"></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Bugün Nöbetçi olan Eczaneler</li>
    </ol>
    <form class="form-inline">
        <div class="form-group mb-2">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Şehir İsmi Giriniz:">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="city" id="city" placeholder="">
        </div>

        <button type="submit" id="submit" class="btn btn-primary mb-2">Gönder</button><br /><br />
    </form>
    <div class="row">
        <table class="table"></table>
        @*@Html.Partial("_OpenPharmacy")*@

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
        $(document).ready(function () {
            $('#submit').click(function () {
                debugger;
                var city = $('#city').val();

                $.ajax({
                    url: '@Url.Action("Index","Pharmacy")',
                    type: "POST",
                    data: { "city": city },
                    dataType: "json",
                });
            });


            function Veriler() {
                var url = '/Pharmacy/Index';
                    $('table').html();
                var thead = '<thead><tr><td>Name</td><td>Phone</td><td>Dist</td><td>Address</td></tr></thead>';
                $('table').append(thead);
                $.getJSON(url, function (data) {
                    for (var item in data.Result) {
                        var deger = '<tbody><tr><td>' + data.Result[item].Name + '</td><td>' + data.Result[item].Phone + '</td><td>' + data.Result[item].Dist + '</td><td>' + data.Result[item].Address + '</td></tbody>'
                        $('table').append(deger);
                    }
                });
            }
        });
</script>
